*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background:#fffdf9;
    color:black;
    overflow-x:hidden;
}

:root{
    --primary:#ff8fa3;
    --secondary:#fff5ef;
    --cream:#fffaf5;
    --dark:black;
    --light:#666;
    --white:#fff;
    --shadow:0 10px 35px rgba(0,0,0,0.08);
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

body.dark-mode{
  background:#111827;
  color:lightgoldenrodyellow;
}
 
body.dark-mode header{
  background:black;
}
 
body.dark-mode nav a{
  color:rgb(0, 0, 0);
}
 
body.dark-mode .icon-btn{
  background:#374151;
  color:lightgoldenrodyellow;
}
 
body.dark-mode .logo{
  color:rgb(0, 0, 0);
}
 
body.dark-mode .login{
  color:lightgoldenrodyellow;
}
 

body.dark-mode .services,
body.dark-mode .why-us,
body.dark-mode .contact{
  background:#111827;
  color:lightgoldenrodyellow;
}
 
body.dark-mode .service-card,
body.dark-mode .feature-box,
body.dark-mode .testimonial-card{
  background:#1f2937;
  color:lightgoldenrodyellow;
}
.logo{
    font-size:30px;
    font-weight:700;
    color:var(--dark);
}

.logo span{
    color:var(--primary);
}

.navbar{
 position:fixed;
 top:0;
 left:0;
 width:100%;
 display:flex;
 justify-content:space-between;
 align-items:center;
 padding:18px 5%;
 z-index:1000;
 background:whitesmoke;
 /* backdrop-filter:blur(10px);
 transition:0.35s ease; */
 text-decoration: none;
}
 
.navbar.scrolled{
 background:rgba(17,17,17,0.92);
 box-shadow:0 10px 30px rgba(0,0,0,0.18);
}
 
.logo{
 font-family:'Outfit', sans-serif;
 font-size:30px;
 font-weight:800;
 color:black;
 letter-spacing:1px;
 white-space:nowrap;
}
 
.logo span{
 color:var(--primary);
}
 
.nav-links{
    display:flex;
    align-items:center;
    gap:25px;
    list-style:none;
}
 
.nav-links a{
 color:black;
 font-size:15px;
 transition:0.3s;
 list-style: none;
}
 
.nav-links a:hover{
 color:var(--primary);
}
 
.nav-actions{
 display:flex;
 align-items:center;
 gap:14px;
}
.dropdown-menu{
 position:absolute;
 top:70px;
 left:320px;
 width:190px;
 
 background:rgba(17,17,17,0.96);
 backdrop-filter:blur(12px);
 
 border-radius:16px;
 padding:10px 0;
 
 opacity:0;
 visibility:hidden;
 transform:translateY(10px);
 
 transition:0.35s ease;
 box-shadow:0 15px 35px rgba(0,0,0,0.2);
}
 
.dropdown-menu a{
 display:block;
 padding:13px 20px;
 color: whitesmoke;
 
}
 
.dropdown-menu a:hover{
 background:rgba(255,255,255,0.08);
 padding-left:28px;
 
}
 
.dropdown:hover .dropdown-menu{
 opacity:1;
 visibility:visible;
 transform:translateY(0);
 list-style: none;
}
 
 .right-section{
    display:flex;
    align-items:center;
    gap:14px;
}



nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: rgb(92, 85, 85);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.icon-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius:30px;
    background:lightgoldenrodyellow;
    box-shadow:var(--shadow);
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.3s;
    color:var(--dark);
    font-size:18px;
    gap: 10px;
    margin-left: 30px;
}

.icon-btn:hover{
    background:var(--primary);
    color:lightgoldenrodyellow;
}

.btn{
    height:45px;
    padding:0 24px;
    border:none;
    border-radius:12px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.secondary-btn{
    background:lightgoldenrodyellow;
    color:var(--dark);
    border:1px solid lightgoldenrodyellow;
    box-shadow:var(--shadow);
}

.secondary-btn:hover{
    background:lightgoldenrodyellow;
}

.primary-btn{
    background:var(--primary);
    color:lightgoldenrodyellow;
    box-shadow:0 10px 25px rgba(255,143,163,0.35);
}

.primary-btn:hover{
    transform:translateY(-3px);
}
.hero{
    height: 70vh;
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1517849845537-4d257902454a?q=80&w=1400&auto=format&fit=crop');
   min-height: 85vh;
    background-size: cover;
    background-position: center;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;

}

.hero-content h1{
    font-size: 60px;
    margin-bottom: 20px;
   

}

.hero-content p{
    font-size: 20px;
    line-height: 1.6;
}



.about{
    padding: 80px 10%;
}

.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
}

.about-image img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 42px;
    color: white;
    margin-bottom: 20px;
}

.about-content p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}



.features{
    padding: 80px 10%;
    background: #fff5f7;
    text-align: center;
}

.features h2{
    font-size: 42px;
    color: black;
    margin-bottom: 50px;
}

.feature-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.feature-box{
    background: white;
    padding: 40px 20px;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.feature-box:hover{
    transform: translateY(-10px);
}

.feature-box i{
    font-size: 40px;
    color: #ff6b81;
    margin-bottom: 20px;
}

.feature-box h3{
    font-size: 24px;
    margin-bottom: 15px;
}

.feature-box p{
    font-size: 16px;
    line-height: 1.6;
}


.gallery{
    padding: 80px 10%;
    text-align: center;
}

.gallery h2{
    font-size: 42px;
    color: #ff6b81;
    margin-bottom: 50px;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.4s;
}

.gallery-container img:hover{
    transform: scale(1.05);
}



.cta{
    background:#fff5f7;
    color: black;
    text-align: center;
    padding: 80px 10%;
}

.cta h2{
    font-size: 42px;
    margin-bottom: 20px;
}

.cta p{
    font-size: 18px;
    margin-bottom: 30px;
}

.cta a{
    display: inline-block;
    padding: 15px 35px;
    background: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.cta a:hover{
    background: #333;
    color: white;
}




.footer{
    background:whitesmoke;
    color:rgb(0, 0, 0);
    padding:50px 0 30px;
    height:230px;

}

.footer-content ul{
list-style: none;

}
.footer-content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-content{
   display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 40px;
}

.footer-social{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.footer-social i{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#222;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.3s;
    cursor:pointer;
}

.footer-social i:hover{
    background:var(--primary);
}
.footer-legal li{
  list-style: none;
  color: black;
 
}
.footer-legal a{
  color: rgb(8, 8, 8);
  text-decoration: none;
  transition: 0.3s ease;

}
.footer-legal a:hover{
  color: var(--primary);
}
.footer-legal{
  display: flex;
  gap: 20px;
  padding-left: 40px;
  background-color: whitesmoke;

}   
.footer-bottom{
  border-top:1px solid black;
  padding-left:100px ;
  padding-right: 100px;
  color:black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-right: 55px;
}
.footer-section{
    width: 200px;
}
/* =========================
   HAMBURGER MENU
========================= */

.menu-toggle{
    display:none;
    font-size:30px;
    cursor:pointer;
    font-weight:bold;
    z-index:3000;
    color:black;
}


/* Desktop Buttons */

.desktop-buttons{
    display:flex;
    align-items:center;
    gap:12px;
}



/* =========================
   MOBILE NAVIGATION
========================= */

@media(max-width:1024px){

    .navbar{
         display:flex;
        justify-content:space-between;
        align-items:center;
        gap:10px;
        z-index: 3000;
    }

    .menu-toggle{
        display:block;
        
    }

    .desktop-buttons{
        display:flex;
        align-items:center;
        gap:8px;
        margin-left:auto;
    }
    .desktop-buttons .icon-btn{
        width:40px;
        height:40px;
        font-size:15px;
        margin-left:0;
    }

    .desktop-buttons .btn{
        height:40px;
        padding:0 16px;
        font-size:14px;
    }

     .nav-links{
    position: fixed;
    top: 0;
    right: -100%;
    width: 260px;
    height: 100vh;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 30px;
    gap: 25px;

    transition: right 0.4s ease;
    z-index: 2000;
}

    .nav-links.active{
        right:0;
    }
     .nav-links li{
        width:100%;
    }

    .nav-links a{
        font-size:18px;
        width:100%;
        display:block;
        color: black;
    }

    /* .mobile-buttons{
        display:flex;
        flex-direction:column;
        width:100%;
        gap:15px;
        margin-top:20px;
    }

    .mobile-buttons .icon-btn,
    .mobile-buttons .btn{
        width:100%;
        justify-content:center;
    } */

    .dropdown-menu {
    display: none;
    position: static;
    background: #f5f5f5;
    width: 100%;
    padding: 10px 15px;
}

.dropdown.active .dropdown-menu {
    display: block;
}

    .hero-content h1{
        font-size:42px;
    }

    .hero-content p{
        font-size:17px;
    }

    .footer{
        height:auto;
    }

    .footer-content{
        flex-direction:column;
        gap:30px;
    }

    .footer-bottom{
        flex-direction:column;
        gap:15px;
        text-align:center;
        margin-right:0;
        padding:20px;
    }

    .footer-legal{
        justify-content:center;
        flex-wrap:wrap;
        padding-left:0;
    }

}

/* =========================
   SAMSUNG GALAXY S8+
========================= */

@media screen and (max-width:740px){

    .logo{
        font-size:24px;
    }
      .desktop-buttons{
        gap:5px;
    }

    .desktop-buttons .btn{
        padding:0 12px;
        font-size:13px;
    }

    .desktop-buttons .icon-btn{
        width:36px;
        height:36px;
        font-size:13px;
    }
      .menu-toggle{
        font-size:28px;
    }
    .nav-links{
        width:260px;
    }

    .hero{
        min-height:75vh;
        padding:20px;
    }

    .hero-content h1{
        font-size:32px;
        line-height:1.3;
    }

    .hero-content p{
        font-size:15px;
    }

    .about,
    .features,
    .cta{
        padding:60px 6%;
    }

    .feature-container{
        grid-template-columns:1fr;
    }

    .about-content h2,
    .features h2,
    .cta h2{
        font-size:28px;
    }

}

/* =========================
   IPAD MINI
========================= */

@media screen and (min-width:768px) and (max-width:820px){

    .nav-links{
        width:300px;
    }

    .hero-content h1{
        font-size:48px;
    }

    .feature-container{
        grid-template-columns:repeat(2,1fr);
    }

}

/* =========================
   IPAD PRO
========================= */

@media screen and (min-width:1024px) and (max-width:1366px){

    .navbar{
        padding:20px 4%;
    }

    .nav-links{
        gap:18px;
    }

    .hero-content h1{
        font-size:54px;
    }

    .footer-content{
        gap:25px;
    }
     .desktop-buttons{
        gap:10px;
    }

    .desktop-buttons .btn{
        padding:0 18px;
    }


}