*{   
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background:#fffdf9;
    color:black;
    overflow-x:hidden;
}

:root{
    --primary:#ff8fa3;
    --secondary:#fff5ef;
    --cream:#fffaf5;
    --dark:black;
    --light:#666;
    --white:#fff;
    --shadow:0 10px 35px rgba(0,0,0,0.08);
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

body.dark-mode{
  background:#111827;
  color:lightgoldenrodyellow;
}
 
body.dark-mode header{
  background:black;
}
 
body.dark-mode nav a{
  color:lightgoldenrodyellow;
}
 
body.dark-mode .icon-btn{
  background:#374151;
  color:lightgoldenrodyellow;
}
 
body.dark-mode .logo{
  color:lightgoldenrodyellow;
}
 
body.dark-mode .login{
  color:lightgoldenrodyellow;
}
 
body.dark-mode .hero,
body.dark-mode .services,
body.dark-mode .why-us,
body.dark-mode .contact{
  background:#111827;
  color:lightgoldenrodyellow;
}
 
body.dark-mode .service-card,
body.dark-mode .feature-box,
body.dark-mode .testimonial-card{
  background:#1f2937;
  color:lightgoldenrodyellow;
}
.logo{
    font-size:30px;
    font-weight:700;
    color:var(--dark);
}

.logo span{
    color:var(--primary);
}




.navbar{
 position:fixed;
 top:0;
 left:0;
 width:100%;
 display:flex;
 justify-content:space-between;
 align-items:center;
 padding:22px 8%;
 z-index:1000;
 background:rgba(0,0,0,0.20);
 backdrop-filter:blur(10px);
 transition:0.35s ease;
 text-decoration: none;
}
 
.navbar.scrolled{
 background:rgba(17,17,17,0.92);
 box-shadow:0 10px 30px rgba(0,0,0,0.18);
}
 
.logo{
 font-family:'Outfit', sans-serif;
 font-size:30px;
 font-weight:800;
 color:black;
 letter-spacing:1px;
 white-space:nowrap;
}
 
.logo span{
 color:var(--primary);
}
 
.nav-links{
 display:flex;
 gap:35px;
 align-items:center;
 list-style: none;
}
 
.nav-links a{
 color:#ffffff;
 font-size:15px;
 transition:0.3s;
 list-style: none;
}
 
.nav-links a:hover{
 color:var(--primary);
}
 
.nav-actions{
 display:flex;
 align-items:center;
 gap:14px;
}
.dropdown-menu{
 position:absolute;
 top:70px;
 left:320px;
 width:190px;
 
 background:rgba(17,17,17,0.96);
 backdrop-filter:blur(12px);
 
 border-radius:16px;
 padding:10px 0;
 
 opacity:0;
 visibility:hidden;
 transform:translateY(10px);
 
 transition:0.35s ease;
 box-shadow:0 15px 35px rgba(0,0,0,0.2);
}
 
.dropdown-menu a{
 display:block;
 padding:13px 20px;
 
}
 
.dropdown-menu a:hover{
 background:rgba(255,255,255,0.08);
 padding-left:28px;
 
}
 
.dropdown:hover .dropdown-menu{
 opacity:1;
 visibility:visible;
 transform:translateY(0);
 list-style: none;
}
 

nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: rgb(92, 85, 85);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}














 .right-section{
    display:flex;
    align-items:center;
    gap:14px;
}

.icon-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius:12px;
    background:lightgoldenrodyellow;
    box-shadow:var(--shadow);
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.3s;
    color:var(--dark);
    font-size:18px;
}

.icon-btn:hover{
    background:var(--primary);
    color:lightgoldenrodyellow;
}

.btn{
    height:45px;
    padding:0 24px;
    border:none;
    border-radius:12px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.secondary-btn{
    background:lightgoldenrodyellow;
    color:var(--dark);
    border:1px solid lightgoldenrodyellow;
    box-shadow:var(--shadow);
}

.secondary-btn:hover{
    background:lightgoldenrodyellow;
}

.primary-btn{
    background:var(--primary);
    color:lightgoldenrodyellow;
    box-shadow:0 10px 25px rgba(255,143,163,0.35);
}

.primary-btn:hover{
    transform:translateY(-3px);
}
nav a:hover{
    color:pink;
}

.book-btn{
    padding:12px 22px;
    border:none;
    background:pink;
    color:white;
    border-radius:30px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.book-btn:hover{
    background:pink;
}

.section-title{
    font-size:42px;
    text-align:center;
    margin-bottom:50px;
    margin-top: 100px;
}

/* GRID CARDS */

.analytics-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-bottom:60px;
}

.analytics-card{
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    text-align:center;
    transition:0.3s;
}

.analytics-card:hover{
    transform:translateY(-10px);
}

.analytics-card i{
    font-size:40px;
    color:#ff6b81;
    margin-bottom:15px;
}

.analytics-card h1{
    font-size:32px;
    margin:10px 0;
}

.analytics-card p{
    color:#666;
}

/* CHART AREA */

.chart-box{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.chart-card{
    flex:2;
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.bars{
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    height:250px;
    margin-top:30px;
}

.bar{
    width:30px;
    background:linear-gradient(to top,#ff6b81,#ffb3c1);
    border-radius:10px;
    animation:grow 1.5s ease;
}

/* RIGHT STATS */

.stats-card{
    flex:1;
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.stat-item{
    margin-bottom:20px;
}

.stat-item span{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.progress{
    width:100%;
    height:10px;
    background:#eee;
    border-radius:20px;
    overflow:hidden;
}

.fill{
    height:100%;
    border-radius:20px;
}

.fill.bath{ width:85%; background:#ff6b81; }
.fill.haircut{ width:70%; background:#ff9aa2; }
.fill.nail{ width:60%; background:#f472b6; }
.fill.skin{ width:90%; background:#fb7185; }

/* ANIMATION */

@keyframes grow{
    from{
        height:0;
    }
}

/* RESPONSIVE */

@media(max-width:768px){
    .chart-box{
        flex-direction:column;
    }

    .section-title{
        font-size:32px;
    }
}
.footer{
    background:rgb(255, 253, 253);
    color:rgb(0, 0, 0);
    padding:50px 0 30px;
    height:200px;

}

.footer-content ul{
list-style: none;

}
.footer-content a{
    text-decoration: none;
    color: black;
}
.logo{ 
    color: black;
}
.footer-content{
    display:grid;
 grid-template-columns: repeat(5,1fr);
    justify-content:space-between;
    flex-wrap:wrap;
    gap:40px;
}

.footer-social{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.footer-social i{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#222;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.3s;
    cursor:pointer;
}

.footer-social i:hover{
    background:var(--primary);
}