*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background:#fffdf9;
    color:black;
    overflow-x:hidden;
}

:root{
    --primary:#ff8fa3;
    --secondary:#fff5ef;
    --cream:#fffaf5;
    --dark:black;
    --light:#666;
    --white:#fff;
    --shadow:0 10px 35px rgba(0,0,0,0.08);
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

body.dark-mode{
  background:#111827;
  color:lightgoldenrodyellow;
}
 
body.dark-mode header{
  background:black;
}
 
body.dark-mode nav a{
  color:lightgoldenrodyellow;
}
 
body.dark-mode .icon-btn{
  background:#374151;
  color:lightgoldenrodyellow;
}
 
body.dark-mode .logo{
  color:lightgoldenrodyellow;
}
 
body.dark-mode .login{
  color:lightgoldenrodyellow;
}
 
body.dark-mode .hero,
body.dark-mode .services,
body.dark-mode .why-us,
body.dark-mode .contact{
  background:#111827;
  color:lightgoldenrodyellow;
}
 
body.dark-mode .service-card,
body.dark-mode .feature-box,
body.dark-mode .testimonial-card{
  background:#1f2937;
  color:lightgoldenrodyellow;
}
.logo{
    font-size:30px;
    font-weight:700;
    color:var(--dark);
}

.logo span{
    color:var(--primary);
}

.navbar{
 position:fixed;
 top:0;
 left:0;
 width:100%;
 display:flex;
 justify-content:center;
 align-items:center;
 padding:22px 8%;
 z-index:1000;
 background:whitesmoke;
 backdrop-filter:blur(10px);
 transition:0.35s ease;
 text-decoration: none;
}
 
.navbar.scrolled{
 background:rgba(17,17,17,0.92);
 box-shadow:0 10px 30px rgba(0,0,0,0.18);
}
 
.logo{
 font-family:'Outfit', sans-serif;
 font-size:30px;
 font-weight:800;
 color:black;
 letter-spacing:1px;
 white-space:nowrap;
}
 
.logo span{
 color:var(--primary);
}
 
.nav-links{
 display:flex;
 gap:25px;
 align-items:center;
 list-style: none;
}
 
.nav-links a{
 color:black;
 font-size:15px;
 transition:0.3s;
 list-style: none;
}
 
.nav-links a:hover{
 color:var(--primary);
}
 
.nav-actions{
 display:flex;
 align-items:center;
 gap:14px;
}
.dropdown-menu{
 position:absolute;
 top:70px;
 left:320px;
 width:190px;
 
 background:rgba(17,17,17,0.96);
 backdrop-filter:blur(12px);
 
 border-radius:16px;
 padding:10px 0;
 
 opacity:0;
 visibility:hidden;
 transform:translateY(10px);
 
 transition:0.35s ease;
 box-shadow:0 15px 35px rgba(0,0,0,0.2);
}
 
.dropdown-menu a{
 display:block;
 padding:13px 20px;
 color: whitesmoke;
 
}
 
.dropdown-menu a:hover{
 background:rgba(255,255,255,0.08);
 padding-left:28px;
 
}
 
.dropdown:hover .dropdown-menu{
 opacity:1;
 visibility:visible;
 transform:translateY(0);
 list-style: none;
}
 
 .right-section{
    display:flex;
    align-items:center;
    gap:14px;
}



nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: rgb(92, 85, 85);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.icon-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius:30px;
    background:lightgoldenrodyellow;
    box-shadow:var(--shadow);
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.3s;
    color:var(--dark);
    font-size:18px;
    gap: 10px;
    margin-left: 30px;
}

.icon-btn:hover{
    background:var(--primary);
    color:lightgoldenrodyellow;
}

.btn{
    height:45px;
    padding:0 24px;
    border:none;
    border-radius:12px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.secondary-btn{
    background:lightgoldenrodyellow;
    color:var(--dark);
    border:1px solid lightgoldenrodyellow;
    box-shadow:var(--shadow);
}

.secondary-btn:hover{
    background:lightgoldenrodyellow;
}

.primary-btn{
    background:var(--primary);
    color:lightgoldenrodyellow;
    box-shadow:0 10px 25px rgba(255,143,163,0.35);
}

.primary-btn:hover{
    transform:translateY(-3px);
}
   /* HERO SECTION */

.pricing-hero{
    position:relative;
    width:100%;
    height:90vh;

    background:
    linear-gradient(rgba(0,0,0,0.45),
    rgba(0,0,0,0.45));
    background-image:url(images/pricing\ hero\ page\ dog\ photo.jpg);
     background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;
    overflow:hidden;
    margin-top: 85px;
}

.hero-overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
}

.hero-content{
    position:relative;
    z-index:2;
    color:white;
    width:90%;
    max-width:800px;
}

.hero-content h1{
    font-size:68px;
    line-height:1.2;
    margin-bottom:25px;
    font-weight:700;
}

.hero-content h1 span{
    color:#ff8fa3;
}

.hero-content p{
    font-size:20px;
    line-height:1.8;
    margin-bottom:35px;
    color:#f1f1f1;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.hero-btn{
    height:55px;
    padding:0 32px;
    border:none;
    border-radius:14px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.primary-btn{
    background:#ff8fa3;
    color:white;
    box-shadow:0 10px 25px rgba(255,143,163,0.35);
}

.primary-btn:hover{
    transform:translateY(-3px);
    background:#ff6f8d;
}

.secondary-btn{
    background:white;
    color:#222;
}

.secondary-btn:hover{
    background:#f3f3f3;
}

/* RESPONSIVE */

@media(max-width:768px){

    .hero-content h1{
        font-size:42px;
    }

    .hero-content p{
        font-size:16px;
    }

    .pricing-hero{
        height:75vh;
    }

}

    section{
      padding:80px 0;
    }

    .container{
      width:90%;
      max-width:1200px;
      margin:auto;
    }

    /* TITLE */

    .section-title{
      text-align:center;
      margin-bottom:60px;
    }

    .section-title h1{
      font-size:48px;
      margin-bottom:15px;
    }

    .section-title p{
      color:var(--light);
      font-size:18px;
    }

    /* PLAN GRID */

    .plans-grid{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
      gap:35px;
    }

    /* CARD */

    .plan-card{
      background:var(--white);
      border-radius:30px;
      padding:45px 35px;
      text-align:center;
      box-shadow:var(--shadow);
      transition:0.4s;
      position:relative;
      overflow:hidden;
    }

    .plan-card:hover{
      transform:translateY(-10px);
    }

    .popular{
      border:3px solid var(--primary);
    }

    .popular-tag{
      position:absolute;
      top:18px;
      right:-35px;
      background:var(--primary);
      color:white;
      padding:10px 45px;
      transform:rotate(45deg);
      font-size:14px;
      font-weight:bold;
    }

    .plan-icon{
      font-size:60px;
      margin-bottom:20px;
    }

    .plan-card h2{
      font-size:30px;
      margin-bottom:10px;
    }

    .plan-desc{
      color:var(--light);
      margin-bottom:25px;
      line-height:1.7;
    }

    .price{
      font-size:55px;
      color:var(--primary);
      font-weight:bold;
      margin-bottom:5px;
    }

    .price span{
      font-size:18px;
      color:var(--light);
    }

    .features{
      list-style:none;
      margin:35px 0;
      text-align:left;
    }

    .features li{
      margin:16px 0;
      color:#444;
      font-size:16px;
    }

    .features li::before{
      content:"✔ ";
      color:var(--primary);
      font-weight:bold;
    }

    .plan-btn{
      width:100%;
      height:52px;
      border:none;
      border-radius:14px;
      background:var(--primary);
      color:white;
      font-size:16px;
      font-weight:bold;
      cursor:pointer;
      transition:0.3s;
    }

    .plan-btn:hover{
      background:#ff6f8d;
    }

    /* EXTRA BENEFITS */

    .benefits{
      margin-top:80px;
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
      gap:25px;
    }

    .benefit-box{
      background:white;
      padding:30px;
      border-radius:20px;
      text-align:center;
      box-shadow:var(--shadow);
    }

    .benefit-box h3{
      margin:18px 0 10px;
    }

    .benefit-box p{
      color:var(--light);
      line-height:1.7;
    }

    /* RESPONSIVE */

    @media(max-width:768px){

      .section-title h1{
        font-size:36px;
      }

      .price{
        font-size:42px;
      }

    }
    .footer{
    background:whitesmoke;
    color:rgb(0, 0, 0);
    padding:50px 0 30px;
    height:230px;

}

.footer-content ul{
list-style: none;

}
.footer-content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-content{
   display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 40px;
}

.footer-social{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.footer-social i{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#222;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.3s;
    cursor:pointer;
}

.footer-social i:hover{
    background:var(--primary);
}
.footer-legal li{
  list-style: none;
  color: black;
 
}
.footer-legal a{
  color: rgb(8, 8, 8);
  text-decoration: none;
  transition: 0.3s ease;

}
.footer-legal a:hover{
  color: var(--primary);
}
.footer-legal{
  display: flex;
  gap: 20px;
  padding-left: 40px;
  background-color: whitesmoke;

}   
.footer-bottom{
  border-top:1px solid black;
  padding-left:100px ;
  padding-right: 100px;
  color:black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-right: 55px;
}
.footer-section{
    width: 200px;
}